<?xml version="1.0" encoding="utf-8"?>
<config>
	<icons group="icons" description="content-categories-icons">
		<icon type="text" name="default" folder="components/content/category" pi_icons="1" folder_type="pi_icons" image="icon-16-category.png"></icon>
		<icon type="text" name="items" folder="components/content/category" pi_icons="1" folder_type="pi_icons" image="icon-16-category.png"></icon>
		<icon type="text" name="pagepropertys" folder="components/content/category" pi_icons="1" folder_type="pi_icons" image="icon-16-category.png"></icon>
		<icon type="text" name="pagepropertys_new" folder="components/content/category" pi_icons="1" folder_type="pi_icons" image="icon-16-category_new.png"></icon>
		<icon type="text" name="new" folder="components/content/category" pi_icons="1" folder_type="pi_icons" image="icon-16-category_new.png"></icon>
		<icon type="text" name="add" folder="components/content/category" pi_icons="1" folder_type="pi_icons" image="icon-16-category_add.png"></icon>
		<icon type="text" name="delete" folder="components/content/category" pi_icons="1" folder_type="pi_icons" image="icon-16-category_delete.png"></icon>
		<icon type="text" name="edit" folder="components/content/category" pi_icons="1" folder_type="pi_icons" image="icon-16-category_edit.png"></icon>
		<icon type="text" name="no_access" folder="components/content/category" pi_icons="1" folder_type="pi_icons" image="icon-16-category_no_access.png"></icon>
	</icons>
</config>
