/* CSS Document */


#adminForm .jgrid span.downarrow, #adminForm .jgrid span.uparrow {
    background-repeat: no-repeat;
    height: 12px;
}

#form_content .reorder_rows_arrows span {
    float: left;
    width: 16px;
}

.jgrid span.downarrow {
    background-image: url("../images/admin/downarrow.png");
}

.jgrid span.uparrow {
    background-image: url("../images/admin/uparrow.png");
}

.jgrid span.text {
    display: none;
}


#adminForm label{
	display: inline-block;
    vertical-align: top;
    width: 13em;
}

#adminForm li{
	list-style-type: none;
}

legend#toggle_content, legend#content_details, #adminForm fieldset.adminform legend{
	/* ms: do not hidde
	*/
	/*
	display: none;
	*/
}

/*ms: add */
#adminForm fieldset.adminform {
	margin-bottom: 10px;
	border: 1px #ccc solid;
	padding: 5px;
	margin: 5px;
	text-align: left;
}

/*ms: add */
#adminForm legend {
	color: #146295;
	font-size: 1.182em;
	font-weight: bold;
}


#pi_content_pane{
	margin-left: 16px;
}

