/* CSS Document */

td.downloadOn a:link, td.downloadOn a:visited, td.downloadOn a:active, td.downloadOn a:hover{
	border: 1px solid #c24733;
	color: #000000;
	background: #f1e8e6;
}

div.pi_width15{
	width: 18%;	
}

div.pi_width70{
	width: 70%;	
}