
/*
import the icons stylesheet
*/
@import "pagesanditems_icons.css";

html {
	overflow-y: scroll;	
}

.pi_icon
{
	margin:0;
}

/*
ADD MS
*/

a.icon span {
	margin-left: 16px;
	background-repeat: no-repeat;
}

a.icon {
	background-repeat: no-repeat;
}


.paddingList span.state
{
	background-repeat: no-repeat;
	/*float: left;*/
	height: 13px;
}

.language
{
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
	padding-top: 5px;
}


#pi_footer table{
	width: 600px; 
	margin: 0 auto; 	
}

#pi_footer table td{
	text-align: left;	
	width: 300px;
	white-space: nowrap;
}

#pi_footer table td.text_right{
	text-align: right;	
}

#pi_footer table td.five_pix{
	width: 3px;
	text-align: center;
}

div.page_reload
{
	display:none;
	text-align: center;
	margin-bottom: 20px;
	/*margin-left: 10px;*/
	/*margin-right: 10px;*/
	margin-top: 10px;
	width:100%;
}

div.page_reload div
{
	margin-bottom: 20px;
	/*margin-left: 10px;*/
	/*margin-right: 10px;*/
	margin-top: 20px;
}

input.button.calendarbutton
{

	padding: 3px 3px 3px 20px;
	background: url(/templates/system/images/calendar.png) no-repeat 2px center;
	margin-top: 3px;
}

div.calendardiv img.calendar
{
	top:6px;
	position: relative;
}

input.buttonImg
{
	padding: 3px 3px 3px 15px;
	min-height: 16px;
	background-repeat: no-repeat;
	background-position:3px center;
	margin-left: 0;
	margin-right: 6px;
}

input.buttonText
{
	padding: 1px 1px 1px 1px;
	margin-left: 0;
	margin-right: 6px;
}


div.line_top
{
	border-top: 1px solid silver;
/*
	padding-bottom:5px;
*/
	padding-left:5px;

}

div.top
{
	padding-left:5px;

}

div.line_bottom
{
	/*border: 1px solid silver;*/
	border-bottom: 1px solid silver;
	padding-bottom:5px;
	padding-left:5px;*/
}

div.textarea
{
	/*padding-bottom:5px;*/
	padding-left:5px;*/
}

textarea#template_intro
{
 /*margin: 2px 0;*/
}
/*
END ADD MS 12 2010
*/

#adminForm input.button, input.input_button, .dtree_container input.button
{
	padding: 3px 3px 3px 15px;
	min-height: 16px;
	background-repeat: no-repeat;
	background-position:3px center;
	margin-left: 0;
	margin-right: 6px;
}

span.button.jgrid
{
	padding: 3px 3px 3px 3px;
	min-height: 16px;
	background-repeat: no-repeat;
	background-position:3px center;
	margin-left: 0;
	margin-right: 6px;
	border-color: silver;
	border-style: solid;
	border-width: 1px;
	
}

span.button.jgrid a
{
	/*padding: 3px 3px 3px 3px;*/
	
}

span.button.jgrid a span
{
	/*padding: 3px 3px 3px 3px;*/
	/*height:13px;*/
}

.columnSmallLeft{
width: 49%;
float: left;
min-height: 10px;
background: #f9f9f9;
border: 1px solid #d5d5d5;
}

.columnSmallRight{
width: 49%;
float: right;
min-height: 10px;
background: #f9f9f9;
border: 1px solid #d5d5d5;
}

table.adminform textarea{
	width: 400px;
	height: 200px;
}

div.clear{
clear: both;
height: 20px;
}

table.paramlist tr td{
padding-left: 10px;
}

table.paramlist{
margin-bottom: 20px;
}

table.adminform{
width: 100%;
background: #f9f9f9;
border: 1px solid #d5d5d5;
margin-bottom: 20px;
}

div.paddingList{
padding: 5px;
}

/*
ADD MS 12 2010
*/
.paddingList input
{
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 3px 3px 3px 20px;
    position: relative;
}
/*
END ADD MS 12 2010
*/

.paddingList div img 
{
    border: 0 none;
    vertical-align: middle;
}

table.imageSelect{ 
height: 120px; 
float: left;
margin: 2px;
padding: 1px;
border: 1px solid #cccccc;
cursor: pointer;
font-size: 11px;
}

table.imageSelectOn{ 
height: 120px; 
float: left;
margin: 2px;
padding: 1px;
border: 1px solid #c24733;
cursor: pointer;
background: #f1e8e6;
font-size: 11px;
}

div.tab-page{
width: 200px;
}

td.download, td.downloadOn{
margin-top: 3px;
}

td.download a:link, td.download a:visited, td.download a:active, td.download a:hover{
color: #000000;
}

td.downloadOn a:link, td.downloadOn a:visited, td.downloadOn a:active, td.downloadOn a:hover{
border: 1px solid #6D9D2E;
color: #000000;
padding: 1px;
background: #E7EDDF;
}

div.pi_form_wrapper{
	margin: 10px 0 10px 0;
	overflow: hidden;
	width: 98%;
}

div.pi_form_wrapper div.left{
	float: left;
	/*width: 30%;*/
	width: 20%;
}

div.pi_form_wrapper div.right{
	float: left;
	width: 70%;
}

html>body div.pi_form_wrapper div.right label{
	vertical-align: top;	
}

div#pi_breadcrumb{
	margin-bottom: 5px;
	text-align: left;
}

#toolbar{
	height: 52px;
}

/*
.tab_wide a{
	width: 200px;
}
*/

div.pi_wrapper{
	overflow: hidden;
	margin-top: 10px;	
}

div.pi_wrapper2{
	overflow: hidden;		
}

div.margin0{
	margin: 0;
}

div.pi_width85{
	width: 85%;
	float: left;
}

div.pi_width70{
	width: 70%;
	float: left;
}

div.pi_width60{
	width: 60%;
	float: left;
}

div.pi_width30{
	width: 30%;
	float: left;	
}

div.pi_width40{
	width: 40%;
	float: left;	
}

div.pi_width50{
	width: 50%;
	float: left;
}

div.pi_width80{
	width: 80%;
	float: left;
}

div.pi_width20{
	width: 20%;
	float: left;
}

div.pi_width15{
	width: 15%;
	float: left;
}

div#pi_footer{
	margin-top: 100px;
	text-align: center;
}

/*span.editlinktip, span.editlinktip span{*/
span.editlinktip{
	/*border-bottom: 1px dashed #999;*/
	border-bottom: 1px dashed #cccccc;
	font-size: 0.9em;
}

.radio{
	margin-bottom: -3px;
}

.checkbox{
	/*margin-bottom: -1px;*/
}

.lowercase{
	text-transform: lowercase;	
}

th{
	text-align: left;
/*
move from controller spunk_up_headers_1_5
*/
	background: #F0F0F0;
	border-bottom: 1px solid #999999;
/*
END move from controller spunk_up_headers_1_5
*/
}

td{
	vertical-align: top;
}

.b{
	font-weight: bold;
}

.sidestep{
	float: left; 
	width: 180px;
	white-space: nowrap;
}

.sidestep2{
	float: left; 
	width: 360px;
	white-space: nowrap;
}

td.hr{
	height: 30px; 
}

#config_link{
	text-align: left;
}

.breaker{
   clear: both;
   display: block;    
   line-height: 0;   
}

.normal{
	text-transform: lowercase;
}

.smallish{
	font-size: 0.8em;
}

.uppercase{
	text-transform: uppercase;
}

/* component header */
.menubar{
	background: url(../images/header.gif) no-repeat #F1F3F5 center;
}

.menubar .menudottedline{
	background: none;
}

.icon-48-content{
	background-image: url(../images/logo.gif);	
}

/*
ADD MS
*/
.icon-48-content_mvc {
    background-image: url("../media/images/icons/icon-48-pi.png");
}


.icon-48-pi {
    background-image: url("../media/images/icons/icon-48-pi.png");
}
/*
END ADD MS
*/

#general, #admin-user-access, #joomfish, #itemtypes, #fieldtypes, #items, #permissions, #new_page, #new_item, #menus, #sections, #pages, #credits, #acesef{
	display: none;
}

.big_red_letter{
	font-size: 2em;
	color: red;
	padding-left: 10px;
}

.warning{
	color: red;
	text-align: left;
}

.warning a{
	color: red;
	text-decoration: underline;
}

/* menu tabs */

ul#pi_menu{
	margin: 0 0 30px 0;
	padding: 0 0 0 20px;
	overflow: hidden;
	background: url(../images/pi_tabs_bg.gif) repeat-x bottom;	
	font-size: 11px;	
}

ul#pi_menu li{	
	margin-right: 3px;
	float: left;
	list-style-type: none;
}

ul#pi_menu a{
	margin: 0;
	padding: 0;
	text-decoration: none;	
	background: url(../images/pi_tab_off.gif) no-repeat top right;
	display: block;
	
}

ul#pi_menu a span{	
	background: url(../images/pi_tab_off_left.gif) no-repeat top left;	
	display: block;
	padding: 3px 10px;
}

ul#pi_menu .on{
	background: url(../images/pi_tab_on.gif) no-repeat top right;
}

ul#pi_menu a.on:link, ul#pi_menu a.on:visited, ul#pi_menu a.on:active, ul#pi_menu a.on:hover{
	color: black;
	text-decoration: none;
}

ul#pi_menu a.on span{	
	background: url(../images/pi_tab_on_left.gif) no-repeat top left;	
}

.right_align, #whitebox div.right_align{
	text-align: right;
}

.more_space td{
	padding-top: 10px;
}

.width200{
	width: 200px;
}

.fieldtype
{
	border-top: 1px solid #ccc;
}

.fieldtype_top .fieldtype
{
	border-top: 0; /*0px solid #ccc;*/
}

legend.pane-toggler-down {
border-bottom: none;
/*padding-left:4px;padding-right:4px;margin-left:10px;*/
}
legend.pane-toggler-down a, legend.pane-toggler-down a:hover, legend.pane-toggler a:hover {
	text-decoration: none;
}
legend.pane-toggler-down :focus, .pane-toggler-down a:active {
	outline: none;
}





#update_checker{
	width: 500px;
	margin: 0 auto;
}

#version_check div{
	margin: 0;
}

.display_none{
	display: none;
}

.lowercase{
	text-transform: lowercase;
}

.new_image_button{
	padding-left: 19.6%;
}

body table.adminform textarea.ig_comment{
	height: 50px;
}

#version_checker_spinner{
	display: none;
}

div#pi_footer{
	text-align: center;
	margin-top: 100px;
}

#adminForm .jgrid span.downarrow, #adminForm .jgrid span.uparrow{
	background-repeat: no-repeat;
	height: 12px;
}

#adminForm .jgrid span.state{
	/*height: 12px;*/
}

.pi_hand{
	cursor:pointer;
}

.pi_form_value_wrapper{
	float: left; margin: 
	5px 5px 5px 0; 
	width: auto;
}

table.adminlist td.pi_padleft{
	padding-left: 40px;
}

table.adminlist td.pi_padleft_panel{
	padding-left: 20px;
}

