html {
	overflow-y: scroll;	
}

.columnSmallLeft{
width: 49%;
float: left;
min-height: 10px;
background: #f9f9f9;
border: 1px solid #d5d5d5;
}

.columnSmallRight{
width: 49%;
float: right;
min-height: 10px;
background: #f9f9f9;
border: 1px solid #d5d5d5;
}

table.adminform textarea{
	width: 400px;
	height: 200px;
}

div.clear{
clear: both;
height: 20px;
}

table.paramlist tr td{
padding-left: 10px;
}

table.paramlist{
margin-bottom: 20px;
}

table.adminform{
width: 100%;
background: #f9f9f9;
border: 1px solid #d5d5d5;
margin-bottom: 20px;
}

div.paddingList{
padding: 5px;
}
	
input.button{
padding: 3px 3px 3px 15px;
}
/*
ADD MS 12 2010
*/
.paddingList input
{
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 3px 3px 3px 20px;
    position: relative;
}
/*
END ADD MS 12 2010
*/

table.imageSelect{ 
height: 120px; 
float: left;
margin: 2px;
padding: 1px;
border: 1px solid #cccccc;
cursor: pointer;
font-size: 11px;
}

table.imageSelectOn{ 
height: 120px; 
float: left;
margin: 2px;
padding: 1px;
border: 1px solid #c24733;
cursor: pointer;
background: #f1e8e6;
font-size: 11px;
}

div.tab-page{
width: 200px;
}

td.download, td.downloadOn{
margin-top: 3px;
}

td.download a:link, td.download a:visited, td.download a:active, td.download a:hover{
color: #000000;
}

td.downloadOn a:link, td.downloadOn a:visited, td.downloadOn a:active, td.downloadOn a:hover{
border: 1px solid #6D9D2E;
color: #000000;
padding: 1px;
background: #E7EDDF;
}

html {
	overflow-y: scroll;	
}

div.pi_form_wrapper{
	margin: 10px 0 10px 0;
	overflow: hidden;
	width: 98%;
}

div.pi_form_wrapper div.left{
	float: left;
	/*width: 30%;*/
	width: 20%;
}

div.pi_form_wrapper div.right{
	float: left;
	width: 70%;
}

html>body div.pi_form_wrapper div.right label{
	vertical-align: top;	
}

div#pi_breadcrumb{
	margin-bottom: 5px;
	text-align: left;
}

#toolbar{
	height: 52px;
}

/*
.tab_wide a{
	width: 200px;
}
*/

div.pi_wrapper{
	overflow: hidden;
	margin-top: 10px;	
}

div.pi_wrapper2{
	overflow: hidden;		
}

div.margin0{
	margin: 0;
}

div.pi_width85{
	width: 85%;
	float: left;
}

div.pi_width70{
	width: 70%;
	float: left;
}

div.pi_width60{
	width: 60%;
	float: left;
}

div.pi_width30{
	width: 30%;
	float: left;	
}

div.pi_width40{
	width: 40%;
	float: left;	
}

div.pi_width50{
	width: 50%;
	float: left;
}

div.pi_width80{
	width: 80%;
	float: left;
}

div.pi_width20{
	width: 20%;
	float: left;
}

div.pi_width15{
	width: 15%;
	float: left;
}

div#pi_footer{
	margin-top: 100px;
	text-align: center;
}

/*span.editlinktip, span.editlinktip span{*/
span.editlinktip{
	/*border-bottom: 1px dashed #999;*/
	border-bottom: 1px dashed #cccccc;
}

.radio{
	margin-bottom: -3px;
}

.checkbox{
	/*margin-bottom: -1px;*/
}

.lowercase{
	text-transform: lowercase;	
}

th{	
	text-align: left;	
}

td{
	vertical-align: top;
}

.b{
	font-weight: bold;
}

.sidestep{
	float: left; 
	width: 180px;
	white-space: nowrap;
}

.sidestep2{
	float: left; 
	width: 360px;
	white-space: nowrap;
}

td.hr{
	height: 30px; 
}

#config_link{
	text-align: left;
}

.breaker{
   clear: both;
   display: block;    
   line-height: 0;   
}

.normal{
	text-transform: lowercase;
}

.smallish{
	font-size: 0.8em;
}

.uppercase{
	text-transform: uppercase;
}

/* component header */
.menubar{
	background: url(../images/header.gif) no-repeat #F1F3F5 center;
}

.menubar .menudottedline{
	background: none;
}

.icon-48-content{
	background-image: url(../images/logo.gif);	
}

#general, #admin-user-access, #joomfish, #itemtypes, #fieldtypes, #items, #images, #links_and_downloads, #new_page, #new_item, #menus, #sections, #pages, #credits{
	display: none;
}

.big_red_letter{
	font-size: 2em;
	color: red;
	padding-left: 10px;
}

.warning{
	color: red;
	text-align: left;
}

.warning a{
	color: red;
	text-decoration: underline;
}

/* menu tabs */

ul#pi_menu{
	margin: 0 0 30px 0;
	padding: 0 0 0 20px;
	overflow: hidden;
	background: url(../images/pi_tabs_bg.gif) repeat-x bottom;	
	font-size: 11px;	
}

ul#pi_menu li{	
	margin-right: 3px;
	float: left;
	list-style-type: none;
}

ul#pi_menu a{
	margin: 0;
	padding: 0;
	text-decoration: none;	
	background: url(../images/pi_tab_off.gif) no-repeat top right;
	display: block;
	
}

ul#pi_menu a span{	
	background: url(../images/pi_tab_off_left.gif) no-repeat top left;	
	display: block;
	padding: 3px 10px;
}

ul#pi_menu .on{
	background: url(../images/pi_tab_on.gif) no-repeat top right;
}

ul#pi_menu a.on:link, ul#pi_menu a.on:visited, ul#pi_menu a.on:active, ul#pi_menu a.on:hover{
	color: black;
	text-decoration: none;
}

ul#pi_menu a.on span{	
	background: url(../images/pi_tab_on_left.gif) no-repeat top left;	
}

.right_align, #whitebox div.right_align{
	text-align: right;
}

.more_space td{
	padding-top: 10px;
}

.width200{
	width: 200px;
}

.fieldtype{
	border-top: 1px solid #ccc;
}

#update_checker{
	width: 500px;
	margin: 0 auto;
}

#version_check div{
	margin: 0;
}

.display_none{
	display: none;
}

.lowercase{
	text-transform: lowercase;
}