
/* ++++++++++++++  edit  ++++++++++++++ */

form#adminForm
{
	border:solid 0px #000
}

form#adminForm fieldset
{
	border:solid 1px #ddd;
	margin-left: 10px;
	margin-right: 10px;
	
	
	    background-color: #FFFFFF;
    padding-bottom: 17px;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 5px;
}

fieldset.adminform label, fieldset.adminform span.faux-label {
    width: 135px;
}

form#adminForm  legend
{
	font-weight:bold
}


/* table */
table.adminform {
	background-color: #fff;
	border: solid 1px #d5d5d5;
	width: 100%;
	border-collapse: collapse;
	margin: 8px 0 10px 0;
	margin-bottom: 15px;
	width: 100%;
}

table.adminform th {
    background-repeat: repeat;
    color: #000000;
    font-size: 1.091em;
    height: 25px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 2px;
    padding-top: 6px;
    text-align: left;
}


ul.adminformlist,
ul.adminformlist li {
	margin: 0;
	padding: 0;
	list-style: none;
}


