.jgrid span.publish 
{
	background-image: url("../media/images/icons/base/icon-16-tick.png") !important;
	/*background-image: url("../media/images/icons/base/icon-16-switch_tick.png") !important;*/
}

.jgrid span.unpublish 
{
	background-image: url("../media/images/icons/base/icon-16-cross.png") !important;
	/*background-image: url("../media/images/icons/base/icon-16-switch_cross.png") !important;*/
}

.jgrid span.trash
{
	background-image: url("../media/images/icons/base/icon-16-trash.png") !important;
	/*background-image: url("../media/images/icons/base/icon-16-switch_cross.png") !important;*/
}

.jgrid span.archive
{
	background-image: url("../media/images/icons/base/icon-16-archive.png") !important;
	/*background-image: url("../media/images/icons/base/icon-16-switch_cross.png") !important;*/
}

.icon-32-publish
{
	background-image: url("../media/images/icons/base/icon-16-tick.png") !important;
	background-image: url("../media/images/icons/base/icon-32-24-tick.png") !important;
	background-image: url("../media/images/icons/base/icon-32-switch_tick.png") !important;
	background-image: url("../media/images/icons/base/icon-32-tick_switch.png") !important;
}

.icon-32-unpublish
{
	/*background-image: url("../media/images/icons/base/icon-16-cross.png") !important;*/
	background-image: url("../media/images/icons/base/icon-32-24-cross.png") !important;
	background-image: url("../media/images/icons/base/icon-32-cross.png") !important;
	background-image: url("../media/images/icons/base/icon-32-switch_cross.png") !important;
	background-image: url("../media/images/icons/base/icon-32-cross_switch.png") !important;
}

.icon-32-archive
{
	background-image: url("../media/images/icons/base/icon-32-archive_switch.png") !important;
}

.icon-32-trash
{
	background-image: url("../media/images/icons/base/icon-32-trash_switch.png") !important;
}


.icon-32-delete
{
	background-image: url("../media/images/icons/base/icon-32-trash_delete.png") !important;
}
/*
?????
*/
/*
.icon-32-refresh 
{
	background-image: url("../media/images/icons/icon-32-refresh.png");
}
*/
